AY201920Sem2-Assignment 1 Specification (Security Policy).docx
LET Network Infrastructure.jpg
LET-Remote Access Policy.txt
LET-Security Awareness policy.txt
Security Policy Assignment-With Personal Info.pdf